body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'JetBrains Mono', monospace;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
}

/* Navigation bar styles */
nav {
    background-color: #2e434f;
    color: #fff3de;
    list-style: none;
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
    column-gap: 2rem;
}

.nav-links :visited, :link {
    color:#fff3de;
    text-decoration: none;
    list-style-type: none;
}

.nav-links :hover, :active{
    color: #759da9;
    text-decoration: none;
}

/* Home page intro section styles */
.intro {
    background-color: #759da9;
    color: #fff3de;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3cqmax;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-card {
    background-color: #f89254;
    color: #fff3de;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Home page about section styles */
.home-about {
    background-color: #8ea249;
    color: #a15d35;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.home-about-content {
    display: flex;
    flex-direction: row;
    column-gap: 8rem;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.home-about-text {
    background-color: #fff3de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

/* Home page projects section styles */
.home-projects {
    background-color: #fff3de;
    color: #a15d35;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-imgs {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

figcaption {
    text-align: center;
    font-weight: bold;
}

/* Footer styles */
footer {
    background-color: #2e434f;
    color: #fff3de;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}